Source: sagscl
Section: net
Priority: optional
Maintainer: Pablo Carmona Amigo <pcarm@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: sagscl
Architecture: any
Depends: ${shlibs:Depends}
Description: Client for Secure Administrator of Game Servers
 SAGS (Secure Administrator of Game Servers) is a client-server
 application to administer game servers on GNU/Linux using a SSL
 connection.
 .
 This is the client needed to connect to the SAGS server.
 .
 See more at http://sags.sourceforge.net/.
